.search-div{
    height: 50px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.897);
    transition: 0.5s;
    transform: translateY(10%);
    animation-name: animate-searchBox;
    animation-duration: 1s;
    
}
@keyframes animate-searchBox{
   from{
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
   }
}
.search-box{
    margin-top: auto;
    margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
}
.search-div input{
    width: 80vw;
    height: 20px;
    padding: 5px 0px 5px;
    margin-right: 2vw;
    margin-left: 8px;
   border-color: rgb(72, 82, 72);
    border-width: 1px;
    outline: none;
    color: lightslategrey;
    text-indent: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}