
.first-txt{
    font-size: 1.3rem;
    font-weight: bolder;
    color: white;
    margin-top: 1vw;
}
.second-txt{
    font-size: 1rem;
    color: whitesmoke;
    margin-top: -10px;
}
.newsletter-div{
    background-color: rgb(75, 75, 170);
    height: 220px;
    border-style: solid;
    border-width: 9px;
    border-color:rgb(62, 108, 155);
    margin-top: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newsletter-temp{
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}
.search-sec{
    display: flex;
}
.search-sec button{
    background-color: turquoise;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    width: 80px;
    color: white;
    outline: none;
    font-size: 1.5rem;
    border-radius: 0px 5px 5px 0px;
}
.search-sec button:hover{
    cursor: pointer;
}
.search-sec input{
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: large;
  outline: none;
  text-indent: 15px;
  font-family: monospace;
  border-style: none;
  border-radius: 5px 0px 0px 5px;
}
@media screen and (max-width:550px){
    .newsletter-temp{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
      }
      .newsletter-div{
          height: auto;
          border-width: 4px;
          padding: 10px;
      }
      .first-txt{
          margin-top: -25px;
          font-size: 2.8vh;
      }
      .second-txt{
          font-size: 2vh;
      }
      .search-sec input{
        padding: 0px;
        font-size: 2vh;
        text-indent: 5px;
      }
}