.soc-icon button{
   width: 50px;
   height: 50px;
   border-radius: 5px;
   font-size: xx-large;
   border-style: none;
   margin-left: 5vw;
   margin-right: 5vw;
   margin-top: 10px;
   outline: none;
}
.soc-icon button:hover{
    cursor: pointer;
    padding: 10px 0px;
}
.soc-icon{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 5vh;
}